<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>
<script>
for (i = 0; i < 10000; i++) {
async function doRequest() {
        let url = 'https://api-dot-cis3111-2023-class.ew.r.appspot.com/genNum';
        let res = await fetch(url);

        if (res.ok) {

            let text = await res.text();

            return text;
        }
    }

    doRequest().then(data => {
        console.log(data);
    });
}

</script>
<h1> Google Cloud Assignment</h1>
<p id='embed'>{{home}}</p>

<a href="https://api-dot-cis3111-2023-class.ew.r.appspot.com/db">View Database Details</a>
</body>

</html>
